apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-service
  namespace: {{ .Release.Namespace }}
  labels:
        {{- include "platform-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  progressDeadlineSeconds: 550
  selector:
    matchLabels:
      {{- include "platform-service.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{.Values.maxSurge}}
      maxUnavailable: {{.Values.maxUnavailable}}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "platform-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "platform-service.serviceAccountName" . }}
      terminationGracePeriodSeconds: 30
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}    
      initContainers:
      - name: wait-for-mongo
        image: {{ include "common.images.image" (dict "imageRoot" .Values.waitForInitContainer.image "global" .Values.global) }}
        imagePullPolicy: IfNotPresent
        args:
          - "pod"
          - "-lapp=mongodb-replicaset"
      containers:
      - name: platform-service
        image: {{ include "common.images.image" (dict "imageRoot" .Values.image "global" .Values.global) }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        ports:
        - name: http
          containerPort: {{.Values.service.port}}
          protocol: "TCP"
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        env:
          - name: MONGODB_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.mongoSecrets.userName.name }}
                key: {{ .Values.mongoSecrets.userName.key }}
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.mongoSecrets.password.name }}
                key: {{ .Values.mongoSecrets.password.key }}
          - name: MONGO_URI
            value: {{ include "harnesscommon.database.mongo" (dict "database" "notifications" "context" $) }}
          - name: AUDIT_MONGO_URI
            value: {{ include "harnesscommon.database.mongo" (dict "database" "audits" "context" $) }}
          - name: RESOURCE_GROUP_MONGO_URI
            value: {{ include "harnesscommon.database.mongo" (dict "database" "resource-groups" "context" $) }}
        envFrom:
        - configMapRef:
            name: platform-service

        readinessProbe:
          httpGet:
            path: /api/health
            port: {{.Values.service.port}}
          timeoutSeconds: 2
          periodSeconds: 10
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /api/health
            port: {{.Values.service.port}}
          timeoutSeconds: 2
          periodSeconds: 10
          failureThreshold: 5
        startupProbe:
          httpGet:
            path: /api/health
            port: {{.Values.service.port}}
          timeoutSeconds: 2
          periodSeconds: 10
          failureThreshold: 25
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - platform-service
            topologyKey: "kubernetes.io/hostname"
      {{- with .Values.affinity }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
